/* Add your CSS styles here */
html {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: lightblue; /* Changed to light blue */
  color: white; /* Set font color to white */
  text-align: center;
  padding: 10px 0;
  display: flex;
  justify-content: space-between; /* Align items horizontally with space between */
  align-items: center; /* Align items vertically */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  display: inline;
  margin-right: 10px;
  color: white;
}

main {
  padding: 20px;
}

footer {
  background-color: lightblue; /* Changed to light blue */
  color: white; /* Set font color to white */
  text-align: center;
  padding: 10px 0;
}

/* Add styles for specific elements */
header h1 {
  margin-left: 10px; /* Add margin to the left of the h1 element */
}

nav ul {
  margin-right: 10px; /* Align items to the right */
}
