/* Ligth Mode */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: relative;
width: 1440px;
height: 693px;

background: #FFFFFF;


/* Header */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 50px;

width: 1440px;
height: 80px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Navbar */

width: 1440px;
height: 80px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Background */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Black */
background: #232536;


/* Links list */

position: absolute;
width: 159px;
height: 28px;
left: 1167px;
top: 26px;



/* About Us */

position: absolute;
visibility: hidden;
left: 85.35%;
right: 9.72%;
top: 32.5%;
bottom: 32.93%;

/* Body 1 */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
/* identical to box height, or 175% */
display: flex;
align-items: center;

/* Light */
color: #FFFFFF;



/* Blog */

position: absolute;
left: 88.4%;
right: 7.92%;
top: 32.5%;
bottom: 32.5%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 28px;
/* identical to box height, or 112% */
display: flex;
align-items: center;

/* Light */
color: #FFFFFF;



/* Home */

position: absolute;
left: 81.04%;
right: 14.1%;
top: 32.5%;
bottom: 32.5%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 28px;
/* identical to box height, or 112% */
display: flex;
align-items: center;

/* Light */
color: #FFFFFF;



/* Danesh Kumar Badlani */

position: absolute;
width: 330px;
height: 36px;
left: 83px;
top: 22px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 36px;
text-transform: capitalize;

color: #FFFFFF;



/* Header section */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 96px 0px;
gap: 64px;

display: none;
width: 1440px;
height: 488px;

/* White */
background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px 32px;
gap: 32px;

width: 1280px;
height: 296px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Content */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 40px;

width: 1216px;
height: 296px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Heading and supporting text */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 24px;

width: 960px;
height: 180px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Heading and subheading */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 960px;
height: 96px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Subheading */

width: 960px;
height: 24px;

/* Text md/Semibold */
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
text-align: center;

/* Primary/600 */
color: #7F56D9;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Heading */

width: 960px;
height: 60px;

/* Display lg/Semibold */
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 60px;
/* identical to box height, or 125% */
text-align: center;
letter-spacing: -0.02em;

/* Gray/900 */
color: #101828;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Supporting text */

width: 768px;
height: 60px;

/* Text xl/Normal */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
/* or 150% */
text-align: center;

/* Gray/500 */
color: #667085;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Email capture */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 494px;
height: 76px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Input field */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 360px;
height: 76px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* _Input field base */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 360px;
height: 76px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Input with label */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 6px;

width: 360px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Label */

display: none;
width: 36px;
height: 20px;

/* Text sm/Medium */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

/* Gray/700 */
color: #344054;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Input */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 14px 12px 16px;
gap: 8px;

width: 360px;
height: 48px;

/* White */
background: #FFFFFF;
/* Gray/300 */
border: 1px solid #D0D5DD;
/* Shadow/xs */
box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Content */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 330px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* mail */

display: none;
width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 16.67%;
bottom: 16.67%;

/* Gray/500 */
border: 1.66667px solid #667085;


/* Text */

width: 330px;
height: 24px;

/* Text md/Normal */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

/* Gray/500 */
color: #667085;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Help icon */

display: none;
width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* help-circle */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Icon */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

/* Gray/400 */
border: 1.33333px solid #98A2B3;


/* Hint text */

width: 360px;
height: 20px;

/* Text sm/Normal */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

/* Gray/500 */
color: #667085;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 118px;
height: 48px;

border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* _Button base */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 20px;
gap: 8px;

width: 118px;
height: 48px;

/* Primary/600 */
background: #7F56D9;
/* Primary/600 */
border: 1px solid #7F56D9;
/* Shadow/xs */
box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 78px;
height: 24px;

/* Text md/Medium */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

/* White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Blog */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 1440px;
height: 484px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Header Section */

/* Auto layout */
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: center;
align-content: center;
padding: 42px 24px;
gap: 42px 68px;

width: 1440px;
height: 484px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Header Content */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 40px;

width: 620px;
min-width: 320px;
max-width: 620px;
height: 327px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Title & Subtitle */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 471px;
height: 88px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Hi, I am Danesh! */

width: 471px;
height: 61px;

font-family: 'Epilogue';
font-style: normal;
font-weight: 600;
font-size: 60px;
line-height: 61px;
display: flex;
align-items: center;

/* Black */
color: #2D2D2D;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Builder, Entrepreneur, and Investor */

width: 471px;
height: 27px;

/* Body text */
font-family: 'Epilogue';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 27px;
/* identical to box height, or 159% */

color: #666666;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* I am a tinkerer and life-long learner. I have worked at a bunch of startups as well as at Microsoft. I invest in teams and ventures that create value for people. */

width: 527px;
height: 81px;

/* Body text */
font-family: 'Epilogue';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 27px;
/* or 159% */

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 24px 61px;
gap: 10px;

width: 277px;
height: 78px;

background: #2D2D2D;
border-radius: 10px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Contact */

width: 134px;
height: 30px;

font-family: 'Epilogue';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
text-align: center;

/* White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Rectangle 39 */

width: 380px;
height: 400px;

background: url(54CEB141-727D-4782-811F-8A2A447322BB.jpg);
border-radius: 190px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Footer */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 30px 0px;
gap: 18px;

width: 1440px;
height: 129px;

background: #232536;

/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Frame 1000000804 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 22.14px;

width: 119.14px;
height: 27px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Clip path group */

width: 24.21px;
height: 24.21px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* primeTwitter0 */

position: absolute;
left: 0%;
right: 79.68%;
top: 5.16%;
bottom: 5.16%;



/* Vector */

position: absolute;
left: 0%;
right: 79.68%;
top: 5.16%;
bottom: 5.16%;

background: #000000;


/* Group */

position: absolute;
left: 0%;
right: 79.68%;
top: 9.37%;
bottom: 9.37%;



/* Vector */

position: absolute;
left: 0%;
right: 79.68%;
top: 9.37%;
bottom: 9.37%;

background: #FFFFFF;


/* Path 7 */

width: 22.99px;
height: 21.94px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* 43304E72-8E4E-46DD-9FB5-8DD471C41D3F */

position: absolute;
left: 45.51%;
right: 41.8%;
top: 34.39%;
bottom: 9.38%;



/* 5388B8FF-D832-4C63-92A3-CAB83E4AA90D */

position: absolute;
left: 38.9%;
right: 56.42%;
top: 9.38%;
bottom: 71.8%;



/* E491342B-CB36-410F-A940-C8DC5623E5AC */

position: absolute;
left: 39.11%;
right: 56.78%;
top: 35.77%;
bottom: 9.38%;



/* C7093D08-E84E-4C9E-A26A-1C9860FB1966 */

position: absolute;
left: 39.11%;
right: 60.89%;
top: 90.62%;
bottom: 9.38%;



/* Vector */

width: 27.67px;
height: 27px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* © 2024 Danesh Badlani */

width: 225px;
height: 24px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
