body {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar-container {
    background-color: #333;
    color: #fff;
}

nav {
    padding: 1em;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 2em 0;
}

.footer-container {
    background-color: #333;
    color: #fff;
}

footer {
    padding: 20px 0;
    text-align: center;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 0.5em;
}

.social-media-icons a {
    color: #fff;
    font-size: 5em;
}

/* Style for social media icons */
.social-media-icons {
  list-style-type: none;
  padding: 0;
  text-align: center; /* Center the icons horizontally */
}

.social-icons li {
  display: inline-block;
  margin: 0 10px; /* Adjust spacing between icons */
}

.social-icons li a {
  display: block;
  width: 40px; /* Adjust the width and height for icon size */
  height: 40px;
  background-size: cover;
}


